/* Pretty printing styles. Used with prettify.js.

 *
 * This version is slight modified based on the original version.
 *
 * Name:    Stanley Ng
 * Email:   stanleyhlng@googlegroups.com
 *
 * Reference:
 * http://code.google.com/p/google-code-prettify/source/browse/trunk/src/prettify.css
 */
.pln {
  color: #ffffff; }

.str {
  color: #9ccc65; }

.kwd {
  color: #fff59d; }

.com {
  color: #b0bec5;
  font-style: italic; }

.typ {
  color: #b58900; }

.lit {
  color: #9ccc65; }

.pun {
  color: #81d4fa; }

.opn {
  color: #839496; }

.clo {
  color: #839496; }

.tag {
  color: #268bd2; }

.atn {
  color: #586175; }

.atv {
  color: #2aa198; }

.dec {
  color: #268bd2; }

.var {
  color: #268bd2; }

.fun {
  color: #FF0000; }

/* Put a border around prettyprinted code snippets. */
pre.prettyprint {
  padding: 10px;}

.org-src-container{
  background-color: #FAFAFA;
  color: #212121;
  font-size: smaller;
}

.example {
  background-color: #2D2D2D;
  color: #D3D0C8;

;
  padding: 10px;}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  color: #4c666c;
  margin: 0 0 0 40px; }

ol.linenums li {
  line-height: 18px;
  padding-left: 12px; }