{{#categories}}
<body>
    <header>
    <hgroup>
        <h1>淸园</h1>
        <h2 class="tagline">About a man and his computer.</h2>
    </hgroup>
    </header>
    <section id="content">
    {{#posts}}
            <ul id="post-list">
                <li>
                   <article class="hentry">
                       <header class="article-list" >
                           <h2 class="entry-title">
                            <a href="{{post-uri}}">{{post-title}}</a>
                           </h2>
                           <footer class="post-info">
                                <abbr class="published">{{post-date}}</abbr>
                           </footer>
                           <div class="entry-content">
                           <p>
                            {{post-desc}}
                           </p>
                           </div>
                       </header>
                   </article>
                </li>
            </ul>
    {{/posts}}
    </section>
    <script async="" src="//www.google-analytics.com/analytics.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/media/js/main.js"></script>
    </body>
{{/categories}}
