<header class="no-border">
    <nav class="byline">
        <ul id="menu">
            <li><a href="/">主页</a></li>
            <li><a href="/blog">博客</a></li>
            <li><a href="/tags">索引</a></li>
        </ul>
    </nav>
<div class="downloads">
          <a href="{{github}}" class="fa fa-github"></a>
          <a href="http://www.facebook.com/xuancong.lee" class="fa fa-facebook"></a>
          <a href="http://instagram.com/congleetea" class="fa fa-instagram"></a>
        </div>
</header>
