<div>{{! content, do NOT indent}}
    <header>
    <hgroup>
        <h1>{{title}}</h1>
    </hgroup>
    </header>
    <section id="content" class="body-article">
        <div class="entry-content">
            <div id="content">
                {{{content}}}
            </div>
        </div>
    </section>
</div>
